<html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

  <style>
        header, main, footer {
        padding-left: 300px;
      }

      @media only screen and (max-width : 992px) {
        header, main, footer {
          padding-left: 0;
        }
      }
  </style>

</head>

  <!-- SIDEBAR -->
  <ul id="slide-out" class="side-nav fixed">
        <br />
        <h2 class="center-align header">Xpense</h2>
        <br />
        <hr />
        <li><a href="#!">Xpense Application</a></li>
        <li><a href="#!">Flock application</a></li>
        <li><a href="#!">About</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

  <!-- MAINCONTENT -->
  <main>
      <div class="container">
        <div class="row">
          <!-- MAINBODY -->
          <div class="col s12 m11">
            <h2 class="header">Xpense flock app </h2>
            <p class="flow-text">Thank you for downloading <b>Xpense</b>. Xpense bot is available at your service on flock.</p>
            <div>
              <p class="flow-text">
                Help us serve you better by giving us your basic information.
              </p>
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="Placeholder" id="fullname" type="text" class="validate">
                      <label for="fullname">Full Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="company" type="text" class="validate">
                      <label for="company">Company</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="Placeholder" id="division" type="text" class="validate">
                      <label for="division">Division</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="department" type="text" class="validate">
                      <label for="department">Department</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="location of work" id="location" type="text" class="validate">
                      <label for="location">Location</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="travellingallowance" placeholder="Travelling allowance if any." type="number" class="validate" default=0>
                      <label for="travellingallowance">Travelling allowance</label>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>
          <!-- RIGHTSIDEBAR -->
          <div class="col s12 m1">
          </div>
        </div>
      </div>
  </main>
</html>
