<html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
        <div class="col s12">
            <p class="flow-text">
              <b>How to use /slash commands ?</b>
            </p>
            <p class="flow-text">
              <b>/xpense start</b> : to start a new track
            </p>
            <p class="flow-text">
              <b>/xpense add</b> : to add expense to a track
            </p>
            <p class="flow-text">
              <b>/xpense status</b> : to view status of all tracked expense
            </p>
            <p class="flow-text">
              <b>/xpense delete</b> : to delete saved tracks
            </p>
            <p class="flow-text">
              <b>/xpense report</b> : to generate reports for saved tracks
            </p>
            <p class="flow-text">
              Long click on Bill images to track them.
            </p>
        </div>
    </div>
  </div>
</body>
</html>
